<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>Benben's Blog</title>
    <link rel="stylesheet" href="/index.css" />
    <script defer src="/index.js"></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="cae6367e-6ca5-4b1e-893e-96c54137a755"></script>
  </head>
  <body>
    <div class="container">
      <div class="title-area">
        <h1><span>Benben's Blog</span></h1>
        <nav class="links">
          <!-- <a href="start.html">开始编程之旅</a> -->
          <ul class="carousel">
            <li>
              欢迎来到我的个人网站
              <strong><code>isbenben.github.io</code></strong
              >（<a href="https://github.com/IsBenben/isbenben.github.io"
                >查看源代码</a
              >）。
            </li>
            <li>
              <strong>Bilibili: </strong
              ><a href="https://space.bilibili.com/3493138995874499"
                >bili_wangac</a
              >
            </li>
          </ul>
        </nav>
      </div>
      <div class="cards">
        {{cards}}
      </div>
    </div>
  </body>
</html>
