<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <title>标签搜索 - Benben's Blog</title>
    <link rel="stylesheet" href="/index.css" />
    <script defer src="/index.js"></script>
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="cae6367e-6ca5-4b1e-893e-96c54137a755"
    ></script>
  </head>
  <body>
    <div class="container">
      <div class="title-area">
        <h1><span>标签搜索 - Benben's Blog</span></h1>
        <nav class="links">
          <a href="/" class="return">返回首页</a>
        </nav>
      </div>

      <div class="tags-switcher">{{tags_switcher}}</div>
      <p class="search-description">请在上方选择欲搜索的标签。</p>
    </div>
  </body>
</html>
