.svg-inline--fa {
  width: var(--fa-width, 1em) !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

:root {
  @include useThemeSelf using ($map) {
    scrollbar-width: auto;
    scrollbar-color: map.get($map, scrollbarThumbHover)
      map.get($map, scrollbarTrack);

    &::-webkit-scrollbar {
      width: 12px;
    }

    &::-webkit-scrollbar-track {
      background: map.get($map, scrollbarTrack);
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: map.get($map, scrollbarThumb);
      border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: map.get($map, scrollbarThumbHover);
    }
  }
}

.background {
  z-index: -10;
  opacity: 0.2;
}

.background,
.clicks {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  user-select: none;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Regular.ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('JetBrainsMono-Bold.ttf');
  font-weight: bold;
  font-display: swap;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
}

body {
  font-family:
    'JetBrains Mono', 'SF Mono', Monaco, 'Cascadia Code', 'Roboto Mono',
    sans-serif;
  padding: 10px;
  text-wrap: pretty;
  /* text-align: justify; */
  line-height: 1.5;
  @include useTheme using ($map) {
    background-color: map.get($map, background);
    color: map.get($map, color);
  }
}

@keyframes blendIn {
  from {
    filter: blur(30px);
    letter-spacing: 5px;
  }
  to {
    filter: blur(0);
    letter-spacing: 1px;
  }
}

.links {
  display: flex;
  gap: 1em;
  padding-left: 5px;
}

.return {
  padding-left: 5px;

  &::before {
    content: '◀ ';
  }
}

a {
  color: inherit;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
  }
}

.section-link {
  user-select: none;
  text-decoration: none;
  opacity: 0;

  .section-heading:hover & {
    opacity: 0.5;
  }

  .section-heading &:is(:hover, :focus) {
    opacity: 0.8;
  }
}

.container .cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  margin-top: 1rem;
}

.information {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;

  & > :is(span, a) {
    opacity: 0.5;
    display: inline-block;
    vertical-align: bottom;
    transition: 0.2s;
  }

  & > :is(span, a):hover {
    opacity: 0.8;
  }

  .tag {
    max-width: 1em;
    text-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden;

    &:hover {
      max-width: calc(var(--tag-width, 100) * 1em + 2px);
    }
  }

  .iconfont::before {
    margin-right: 2px;
  }
}

.contents {
  margin: auto;
  width: 90%;
}

@keyframes jump {
  0% {
    transform: translate(-50%, 20px);
    filter: blur(1px);
    opacity: 0;
  }
  80% {
    transform: translate(-50%, -20px);
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -20px);
    filter: blur(1px);
    opacity: 0;
  }
}

.clicks .click {
  position: absolute;
  animation: jump 0.8s forwards;
}

pre,
code {
  padding: 2px 4px;
  border-radius: 4px;
  font-family: inherit;
  font-size: 14px;

  @include useTheme using ($map) {
    background: map.get($map, codeBackground);
  }
}

pre {
  overflow: auto;
  scrollbar-width: thin;

  code {
    background-color: unset;
    padding: 0;
    cursor: auto;
  }

  @include useTheme using ($map) {
    scrollbar-width: thin;
    scrollbar-color: map.get($map, preScrollbarThumbHover)
      map.get($map, preScrollbarTrack);

    &::-webkit-scrollbar {
      height: 6px;
    }

    &::-webkit-scrollbar-track {
      background: map.get($map, preScrollbarTrack);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: map.get($map, preScrollbarThumb);
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: map.get($map, preScrollbarThumbHover);
    }
  }
}

.shiki span {
  @include useTheme using ($map) {
    color: var(--shiki-#{map.get($map, name)}) !important;
  }
}

p,
ul,
ol,
li {
  margin-left: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.banner {
  position: relative;
  min-height: 250px;
  height: 60vh;
  transition: 0.2s;
  text-align: center;

  .mask {
    position: absolute;
    inset: 0;
    background-color: hsla(201, 20%, 0%, 0.5);
    transition: 0.2s;
  }

  &:hover {
    text-shadow: 0 0 10px hsla(201, 20%, 0%, 0.5);
  }

  &:hover .mask {
    background-color: transparent;
    border-top: 8px solid hsl(201, 20%, 100%);
    border-bottom: 8px solid hsl(201, 20%, 100%);
  }

  h2 {
    letter-spacing: 2px;
    font-size: 2em;
    margin-bottom: 20px;
  }

  .contents {
    position: absolute;
    inset: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.2em;
  }

  &:last-of-type {
    @keyframes colorful {
      to {
        filter: hue-rotate(360deg);
      }
    }

    animation: colorful 10s infinite;
  }
}

img {
  max-width: 100%;
}

.search-description {
  opacity: 0.8;
  font-style: italic;
}

.visually-hidden {
  display: none;
  visibility: hidden;
}
