@font-face {
  font-family: "iconfont"; /* Project id 5059306 */
  src: url('iconfont.woff2?t=1762429165022') format('woff2'),
       url('iconfont.woff?t=1762429165022') format('woff'),
       url('iconfont.ttf?t=1762429165022') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-date:before {
  content: "\e65e";
}

